@tailwind base;
@tailwind components;
@tailwind utilities;
* {
@apply font-poppins
}
.active-link {
    @apply border-b-2 py-1 font-bold text-red-500  duration-200;
}
.links a {
    @apply hover:border-b-2 border-gray-300 py-1 duration-300 hover:text-red-500; 
}

.active-nav {
    @apply h-[300px] opacity-100  duration-500 ;
}
.off-nav {
    @apply h-0 opacity-0 p-0 duration-500;
}
form input {
    @apply  p-3 bg-white rounded-md ;
}

textarea {
    @apply p-3 text-lg
}
.listing-div {
    &:hover {
        img {
            transform: scale(1.1);
            transition: all 0.1s;
        }
    }
}
.hero {
    background-image: url("/src/assets/bg.jpg");
    background-position: center;
    object-fit: cover;
    overflow: hidden; /* Hide the content that overflows */
  }