@tailwind base;
@tailwind components;
@tailwind utilities;
* {
@apply font-poppins scroll-smooth;
}
.active-link {
    @apply border-b-2 py-1 font-bold text-red-500  duration-200;
}
.links a {
    @apply hover:border-b-2 border-gray-300 py-1 duration-300 hover:text-red-500; 
}

.active-nav {
    @apply h-[300px] opacity-100  duration-500 ;
}
.off-nav {
    @apply h-0 opacity-0 p-0 duration-500;
}
form input {
    @apply  p-3 border border-slate-900 rounded-md ;
}

textarea {
    @apply p-3 text-lg border border-black rounded-md
}
.listing-div {
    &:hover {
        img {
            transform: scale(1.1);
            transition: all 0.4s;
        }
    }
}
.hero {
    background-image: url("/src/assets/bg.jpg");
    background-position: center;
    object-fit: cover;
    overflow: hidden; /* Hide the content that overflows */
  }
  .bg{ 
    background-color: rgba(0,0,0,0.7);
  }

.animate {
    @apply opacity-100 translate-y-0 transition-all duration-1000;
}
.stop_animating{
    @apply opacity-0 transition-all duration-[1000];
}
.socials a{
    @apply hover:scale-125 hover:text-red-600 duration-300; 
}